#portfolio-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 auto 20px auto;
}
#portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
#portfolio-filters li:hover {
    color: #151515;
    background: #ffc451;
}
.filter-active {
    color: #151515;
    background: #ffc451;
}
.portfolio-boxes {
    display: grid;
    grid-template-columns: repeat(3 , 440px);
    grid-template-rows: repeat(4 , 260px);
    gap: 1rem;
}
.portfolio-boxes div{
    overflow: hidden;
}
.portfolio-boxes > div:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.portfolio-boxes > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
.portfolio-boxes > div:nth-child(8) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}