.link-icon {
    transition: color 0.3s;
    color: #151515;
    margin: 0 3px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.8);
    transition: ease-in-out 0.3s;
    color: #484848;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.link-icon:hover {
    background-color: #ffc451;
}
.link-icon i {
    font-size: 18px;
    line-height: 0;
}