.container-feature__description-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2.5rem;
}
.container-feature__description-content div {
    display: flex;
    flex-direction: column;
}
.container-feature__description-content h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
}
.container-feature__description-content p {
    font-size: 15px;
    color: #848484;
    text-align: justify;
}
.container-feature__description-content i {
    font-size: xxx-large;
    color: #ffc451;
    padding-top: 15px;
}