.container-clients__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-clients__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}